{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="{{ asset('assets/js/index.js') }}"></script>
    <script>
        const path = "/registration/user_auteur";
        const newPay = "/auteur";
    </script>
{% endblock %}

{% block title 'Inscription Auteur' %}

{% block body %}
    <div class="flash-errors" style="display: none;">
        <span class="flash-message">{ error }</span>
    </div>
    <div class="content">

        <div class="carousel slide" data-ride="carousel">
            <span class="illustration-title-slider">Inscription Auteur</span>

            <div class="carousel-inner">
                <div class="carousel-item active">
                  {% if carroussel_first.link %}
                  <a href="{{carroussel_first.link}}" target="_blank">
                      <img class="d-block w-100" src="{{ asset('assets/images/illustration/' ~ carroussel_first.content)}}" alt="First slide">
                  </a>
                  {% else %}
                  <img class="d-block w-100" src="{{ asset('assets/images/illustration/' ~ carroussel_first.content)}}" alt="First slide">
                      
                  {% endif %}
                </div>
  
                {% for carroussel in carroussel %}
  
                  <div class="carousel-item">
                      {% if carroussel.link %}
                      <a href="{{carroussel.link}}" target="_blank">
                          <img class="d-block w-100" src="{{ asset('assets/images/illustration/' ~ carroussel.content)}}" alt="Second slide">
                      </a>
                      {% else %}
                          
                      <img class="d-block w-100" src="{{ asset('assets/images/illustration/' ~ carroussel.content)}}" alt="Second slide">
                      {% endif %}
                  </div>
  
                {% endfor %}
  
              </div>
        </div>

        <div class="separator"></div>

        <div class="row mx-auto">
            <div class="col-md-6 p-0">
                <div class="box-register-title">
                    Inscription Auteur
                    <p>(Vous pouvez créer un compte auteur dès maintenant)</p>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="box-register-title-2">
                    Abonnement Annuel TTC
                    <p>60 Euros</p>
                </div>
            </div>
        </div>

        <div class="separator"></div>

        <div class="block-quote register-authors-box">
            <div class="row mx-auto">
                <div class="col-md-8 p-3">
                    <div class="register-text-title pb-1">Devenir membre Auteur, c'est facile !</div>
                    <p class="text-white">
                        1/ Avant de commencer, prenez connaissance des <a href="{{ path('legal') }}" target="_blank">conditions générales de ventes</a> et des conditions générales d'utilisation du site.<br>
                        2/Remplissez le questionnaire ci-dessous,<br>
                        3/ Téléchargez la couverture et un extrait de votre ouvrage *<br>
                        4/ Effectuez votre paiement,<br>
                        5/ Vérifiez votre inscription sur votre boite mail.
                    </p>
                    <img src="{{ asset('assets/images/illustration/livre-2.png') }}" class="livre-2">
                </div>
                <div class="col-md-4 p-0">
                    <img src="{{ asset('assets/images/illustration/left.jpg') }}" class="w-100 h-100">
                </div>
            </div>
        </div>

        <div class="separator"></div>

        <div class="block-quote text-white pt-5 pb-5 position-relative" style="background-color: #1a627c;height: auto;">

            <form method="post" enctype="multipart/form-data" class="register mx-auto w-50" id="needs-validation" novalidate>
                <div class="wait mx-auto" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 9991; background: #093f4e94;display: none">
                    <i id="close-pay" class="fas fa-times" style="display:none;position: absolute; right: 1rem; top: 1rem; font-size: 2rem; cursor: pointer; opacity: .5;"></i>
                    <div class="wait-load text-center m-5 mx-auto" style="top: 36%; transform: translateY(-50%); position: relative;">
                        <div class="lds-dual-ring"></div>
                        <div style="font-weight: 600;">Chargement...</div>
                    </div>
                    <div class="wait-pay text-center m-5 mx-auto" style="top: 36%; transform: translateY(-50%); position: relative;display: none">
                        <div class="row mx-auto">
                            <div class="mx-auto p-5">
                                <div style="font-weight: 600;">Cliquez sur le bouton "Payer avec PayPal" pour finaliser votre inscription.</div>
                                <div id="paypal-button" class="mt-5"></div>
                            </div>

                            <div class="mx-auto col-lg-12">
                                <div>Ou</div>
                            </div>

                            <div class="mx-auto p-5">
                                <!-- Button  modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Utiliser un code promo
                                </button>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="name">Nom</label>
                        {{ form_widget(form.nom, { 'attr': {'placeholder': 'Votre nom'} }) }}
                        <div class="invalid-feedback err">
                            Vous devez renseigner votre nom
                        </div>
                        <div>
                            {{ form_errors(form.nom) }}
                        </div>
                    </div>
                    <div class="col">
                        <label for="firstname">Prénom</label>
                        {{ form_widget(form.prenom, { 'attr': {'placeholder': 'Votre prénom'} }) }}
                        <div class="invalid-feedback err">
                            Vous devez renseigner votre prénom
                        </div>
                        <div>
                            {{ form_errors(form.prenom) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <label for="email">Email</label>
                        {{ form_widget(form.email, { 'attr': {'placeholder': 'Votre adresse email'} }) }}
                        <div class="invalid-feedback err">
                            Vous devez renseigner un email valide
                        </div>
                        <div>
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    {{ form_widget(form.password, { 'attr': {'placeholder': 'Votre mot de passe'} }) }}
                    <div class="invalid-feedback err">
                        Vous devez renseigner un mot de passe
                    </div>
                    <div>
                        {{ form_errors(form.password) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" id="box-3" name="checkbox" required class="form-control">
                        <label for="box-3">J’accepte les termes et <a href="{{ path('legal') }}" target="_blank">conditions de ventes et d'utilisation</a> du site Internet.</label>
                        <div class="invalid-feedback err">
                            Vous devez accepter les conditions générales et terme du site.
                        </div>
                    </div>
                </div>
                {#<div class="text-center">METTEZ LE BUTTON PAYPAL ICI</div>#}
                <button type="submit" name="user_form[submit]" class="login btn-default">Finaliser mon inscription</button>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </form>
        </div>

    </div>
    <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form id="promo-code" action="{{ path('coupon_verefi') }}" method="post" class="form-row modal-content pb-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Code promo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mb-3">
                        <p class="text-center">Renseigner votre code promo ci-dessous puis cliquez sur le bouton valider pour finaliser votre inscription</p>
                        <input type="text" name="_promo" autocomplete="off" required="required" placeholder="Code promo" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="_token" value="{{ csrf_token("promo") }}">
                        <button type="submit" id="send-promo" class="btn btn-primary w-100">Valider mon code promo</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- END -->
    <style>
        .err {
            color: #ffffff;
            font-weight: 700;
            padding: .23rem 0;
            text-align: center;
            border-radius: .6rem;
            background: #c0392b;
        }
    </style>

{% endblock %}
