{% extends 'base_admin.html.twig' %}

{% block title 'Ajouter un nouvel édito' %}

{% block body %}
    <div class="container">
        {{ form_start(form, {'attr': {'class':'row user'}}) }}

        <div class="col-xl-8 col-lg-7">

            {# Menu du header #}
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Ajouter un nouvel édito</h6>
                </div>
                <div class="card-body">
                    <div class="col-sm-12 mb-3 mb-sm-0 mx-auto">
                        {{ form_widget(form.title, { 'attr': {'placeholder': 'Titre de l\'édito'}}) }}
                        {{ form_errors(form.title) }}
                    </div>
                    <div class="mt-5">
                        {{ form_widget(form.content) }}
                        {{ form_errors(form.content) }}
                    </div>
                </div>
            </div>

        </div>

        <!-- Donut Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <button class="btn btn-primary btn-user btn-block mt-3">
                        Ajouter l'édito
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    
{% endblock %}

