{% extends 'base_admin.html.twig' %}

{% block title 'Liste des prix Terhoma' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-xl-12 col-lg-12">

                {# Menu du header #}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Liste des prix Terhoma
                            {# <span class="badge badge-primary float-right">Il y a {{ countPrice }} prix Terhoma</span> #}
                        </h6>
                    </div>
                    {% for message in app.Flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show text-center" role="alert" id="success">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table">
                         <thead>
                            <tr>
                                <th scope="col">Photo</th>
                                <th scope="col">Information du prix</th>
                                <th scope="col" style="text-align: right">Options</th>
                            </tr>
                         </thead>
                            <tbody>
                            {% for price in prices %}
                                <tr class="search">
                                  
                                    <td style="max-width: 38rem;">
                                        <img style="width: 50%; min-height: 10%;max-height: 10% border-radius: .3rem;" src="{{ asset('assets/images/prix/'~ price.photo) }}" alt="">
                                    </td>
                                    <td>
                                        {{ price.title }}
                                       
                                        <div class="desc mt-1" style="max-width: 38rem;">
                                            {{ price.text|striptags|length > 600 ? price.text|raw|striptags|slice(0,600)|raw : price.text|raw }}
                                        </div>
                                    </td>
                                    <td scope="row" style="text-align: right">
                                        <a href="{{ path('admin_edit_price', {'id':price.id}) }}" class="btn btn-primary btn-circle btn-sm mb-1">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <form method="post" action="{{ path('admin_delete_price', {id: price.id}) }}" style="display: inline-block">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ price.id) }}">
                                            <button class="btn btn-danger btn-circle btn-sm" onclick="return confirm('ATTENTION : Êtes-vous sûr de bien vouloir supprimer ce prix ?');">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                   
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if prices is empty %}
                            <h5 class="m-3 text-center">il y a actuellement aucun prix Terhoma sur le site</h5>
                        {% endif %}
                        {% include("admin/_no-result.html.twig") %}
                    </div>
                </div>

            </div>

        </div>
    </div>

    <style>
        tbody {
            background: #f8f9fc;
        }
        .desc {
            font-size: .75rem;
            color: #858796;
        }
    </style>
{% endblock %}
