{% extends 'base.html.twig' %}

{% block stylesheets %}
   {{ parent() }}
   {{ encore_entry_link_tags('magazine') }}
{% endblock %}

{% block title %}Le Magazine{% endblock %}

{% block body %}

<div class="mag">

    <div class="carousel slide" data-ride="carousel">
        <span class="illustration-title-slider">Le Magazine</span>

        <div class="carousel-inner">
            <div class="carousel-item active">
              {% if carroussel_first.link %}
              <a href="{{carroussel_first.link}}" target="_blank">
                  <img class="d-block w-100" src="{{ asset('assets/images/illustration/' ~ carroussel_first.content)}}" alt="First slide">
              </a>
              {% else %}
              <img class="d-block w-100" src="{{ asset('assets/images/illustration/' ~ carroussel_first.content)}}" alt="First slide">
                  
              {% endif %}
            </div>

            {% for carroussel in carroussel %}

              <div class="carousel-item">
                  {% if carroussel.link %}
                  <a href="{{carroussel.link}}" target="_blank">
                      <img class="d-block w-100" src="{{ asset('assets/images/illustration/' ~ carroussel.content)}}" alt="Second slide">
                  </a>
                  {% else %}
                      
                  <img class="d-block w-100" src="{{ asset('assets/images/illustration/' ~ carroussel.content)}}" alt="Second slide">
                  {% endif %}
              </div>

            {% endfor %}

          </div>
    </div>

  
    {% for magText in magText %}
    <div class="edition">
        <h6>{{magText.TextMag}}</h6>
    </div>
    {% endfor %}


    {# separator/separateur #}
    <div class="une_0">
        <div class="une mx-auto mt-51">
            <div class="e_1">
                    <h1 class="wb-stl-heading1" style="text-align: center;">
                    <span style="color:rgba(255,255,255,1);">A la une !</span>
                    </h1>
            </div>
        </div>
    </div>  

    {# bloc1 #}
    <div class=" b1">

        <div class="col-md-3 col pt-5 text-center b1_1">
            <h3>Dossier</h3>
            <h3>Spécial</h3>
            {% for magTextspec in magTextspec %}
            <div class="d_spec">
            <h5>{{magTextspec.TextMag}}</h5>
            </div>
            {% endfor %}         
        </div>

        {% for magContent1 in magContents1 %}
        {% for magTexttitre in magTexttitre %}
        <div class="col-md-6 b1_2" style="background-image: url({{ asset('assets/images/magazine/'~magContent1.imagMag) }});">
            <h3>{{magTexttitre.TextMag}}</h3>
        </div>
         {% endfor %}
         {% endfor %}

         {% for magContent2 in magContents2 %}
        <div class="col-md-3 b1_3" style="background: url({{ asset('assets/images/magazine/'~magContent2.imagMag) }}) no-repeat center; background-size: cover;">
            
        </div>
        {% endfor %}

    </div>

    {% for magTextgdtitre in magTextgdtitre %}
        <div class="neon anime2">
            <span class="text" data-text="{{magTextgdtitre.TextMag}}">{{magTextgdtitre.TextMag}}</span>
            <span class="gradient"></span>
            <span class="spotlight"></span>
        </div>
    {% endfor %}

    <div class="b2">
        <div class="col-md-1  text-center som">
            <p>S</p>
            <p>O</p>
            <p>M</p>
            <p>M</p>
            <p>A</p>
            <p>I</p>
            <p>R</p>
            <p>E</p>
        </div>
        
        <div class="col-md-6 som_1">
          <p>Retrouver dans chaque numéro :</p> 
          {% for puce in puce %} 
          <h6>{{puce.TextMag|raw }}</h6>
          {% endfor %}
          {% for puce1 in puce1 %} 
                {{ puce1.TextMag|raw }}
          {% endfor %}
        </div>
        
        {% for magContent3 in magContents3 %}
        <div class="col-md-5 b2_1" style="background: url({{ asset('assets/images/magazine/'~magContent3.imagMag) }}) no-repeat center; background-size: cover; -webkit-background-size: cover;">
            
        </div>
        {% endfor %}

    </div>
      <div class="separator"></div>
    {# bloc_article #}

    <section class="b_articles">

        <div class="block-quote bg-rose box-interviews-2" style="height: auto;">
            <div class="interviews-title text-center" style="padding: 2rem 2rem 5rem">ACTU LITTERAIRE</div>
             <img src="{{ asset('assets/images/illustration/oo.png') }}"> 

            <div class="interviews-content">
            {% if articles is not empty %}

                {% for article in articles %}
                <div class="articles-block text-center">
                    <div class="row mx-auto articles bg-blue rounded">
                        <div class="col-8 b-interviews">
                            <div class="interviews-title">{{ article.titles }}</div>
                            <div class="interviews-desc">Article du {{ article.createdAt|date('d/m/Y') }}</div>
                        </div>
                        <div class="col-auto btn-artiles">
                            <a href="{{ path('articles_view', {'slug': article.slug, 'id': article.id}) }}" class="btn-default btn-primary text-white">Lire !</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-warning mx-auto text-center">
                    <strong>
                        Aucun article n'est actuellement présent sur cette page.
                    </strong>
                </div>
            {% endif %}    
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('magazine') }}
{% endblock %}