<div class="row">
    <div class="wrapper">
      <div class="box-area">
        <div class="box1" style="background:url({{ asset('assets/images/illustration/pas.jpg') }}); background-size:cover;"></div>
        <div class="box6" style="background:url({{ asset('assets/images/illustration/pasb.jpg') }});background-size:cover;"></div>
        
      </div>
    </div>
    <div class="wrapper">
      <div class="box-area2">
        <div class="box1" style="background:url({{ asset('assets/images/illustration/vu.jpg') }}); background-size:cover;"></div>
        <div class="box3" style="background:url({{ asset('assets/images/illustration/vun.jpg') }});background-size:cover;"></div>
      </div>
    </div>
    <div class="wrapper">
      <div class="box-area3">
        <div class="box1" style="background:url({{ asset('assets/images/illustration/pas.jpg') }}); background-size:cover;"></div>
        <div class="box6" style="background:url({{ asset('assets/images/illustration/pasb.jpg') }});background-size:cover;"></div>
      </div>
    </div>
    <div class="wrapper">
      <div class="box-area4">
        <div class="box1" style="background:url({{ asset('assets/images/illustration/lu.jpg') }}); background-size:cover;"></div>
        <div class="box3" style="background:url({{ asset('assets/images/illustration/lun.jpg') }});background-size:cover;"></div>

      </div>
    </div>
</div>