<div class="content">
    <div class="separator" style="margin-top: 0rem;"></div>

    <div class="block-quote bg-purple p-4" style="height: auto;">
        <div class="row mx-auto">
            <div class="col-md-3 response-contact">
                <div class="text-contact pr-4 pl-4 m-0 pt-2">
                    <div class="text-uppercase l-space text-center pb-2">Nous contacter !</div>
                    <marquee direction="left" behavior="scroll" scrollamount="3" class="marquee">
                        www.pasvupaslu.com Le marque-page des nouveaux talents !
                    </marquee>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="list-inline text-center list-contact m-0 enligne">
                    <li class="list-inline-item">
                        <a href="mailto:contact@pasvupaslu.com">
                            <img src="{{ asset('assets/images/illustration/@.png') }}">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/contact">
                            <img src="{{ asset('assets/images/illustration/contact.png') }}">
                        </a>
                    </li>
                    <li class="list-inline-item masque-responsive">
                        <a href="#!">
                            <img src="{{ asset('assets/images/illustration/logo-footer.png') }}">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/contact">
                            <img src="{{ asset('assets/images/illustration/tel.png') }}">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/contact">
                            <img src="{{ asset('assets/images/illustration/map.png') }}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="block-quote bg-black footer">
        <div class="row mx-auto">
            <div class="col-md-5">
                <ul class="list-inline d-flex flex-column p-3 text-center">
                    <li class="list-inline-item">
                        <a href="{{ path('home') }}">Accueil</a>
                    </li>                    
                    <li class="list-inline-item">
                        <a href="{{ path('authors') }}">Auteurs</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('show_livres') }}">Livres</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('prix_terhoma') }}">Prix Terhoma</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('news') }}">Actualités</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('magazine') }}">Le magazine</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('podcast') }}">Podcasts</a>
                    </li>                                     
                </ul>
            </div>
            <div class="col-md-2 p-0">
                <div class="don" style="background-image: url({{ asset('assets/images/illustration/don.jpg') }});">
                    <a href="http://terhoma.org/www-terhoma-org/Faire-un-don/" target="_blank" class="btn-default">Faire un don !</a>
                </div>
            </div>
            <div class="col-md-5 pl-5 text-center">
                <ul class="list-inline d-flex flex-column pt-4">
                    <li class="list-inline-item">
                        <a href="https://www.terhoma.org/ "target="_blank">A propos de nous</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('legal') }}">Informations Légales</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('legal') }}">Conditions Générales d'Utilisation</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('legal') }}">Conditions Générales de ventes</a>
                    </li>                    
                    <li class="list-inline-item">
                        <a href="{{ path('legal') }}">Vie Privée / Cookies</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('contact_terhoma') }}">Service Publicité</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.terhoma.org/Devenir-M%C3%A9c%C3%A8ne/" target="_blank">Devenir Mécène</a>
                    </li>                     
                </ul>
            </div>
        </div>
    </div>
</div>

<p class="c-footer">© 2018 <a href="#!">pasvupaslu.com</a></p>
<!-- Back to top button -->
<a id="button-top"><i class="fas fa-angle-up"></i></a>
